/Lambda Demo/nbproject/private/
/Lambda Demo/build/
/Calculator/nbproject/private/
/Calculator/build/
/JSONDemo/target/
/hibernatedemo/hibernatedemo/target/
/hibernatefx/target/
/MidtermExam/nbproject/private/
/MidtermExam/build/
/midtermq4/target/
/midtermq4/nbproject/
/simplewebapp/target/
/UI manipulation/nbproject/private/
/UI manipulation/dist/
/UI manipulation/build/
/personaldetails/target/
/InstanceDemo/nbproject/private/
/InstanceDemo/build/