<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--Task:
Edit this page to show the full name of the user who have logged in
You can take help from: https://spring.io/guides/gs/serving-web-content/-->

<!--You may run into problems with xmlns on this page. The guide won't be much
helpful for that. Google is your friend!-->

<html>
    <head>
        <title>Greeting page</title>
    </head>
    <body>
        <div>I'm here to greet you!</div>
    </body>
</html>
